@using AspNetCoreArchTemplate.Web.ViewModels.Products
@using static AspNetCoreArchTemplate.GCommon.ApplicationConstants
@model ProductDetailsViewModel

@{
    ViewData["Title"] = Model.Name ?? "Bouquet Details";
}
<div class="container">
    <div class="row">
        @if (Model.ProductType == "Bouquet")
        {
            <partial name="_ProductDetailsPartial" model="Model"></partial>
        }
    </div>
</div>
