@using AspNetCoreArchTemplate.Web.ViewModels.Products
@model IEnumerable<ProductIndexViewModel>
@{
    ViewData["Title"] = "Bouquets Page";
}

<h2 class="text-center my-4">Our Bouquets</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        @foreach (ProductIndexViewModel bouquet in Model)
        {
            @if (bouquet.ProductType == "Bouquet")
            {
                <partial name="_ProductCardPartial" model="bouquet"></partial>
            }
        }
    </div>
</div>